.navbar-brand {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 300;
    padding: 15px 15px;
}

.logo {
    height: 30px;
}

.table td {
    font-size: 14px;
    padding: 0.65rem 0.75rem;
}

textarea {
    resize: none;
}

#text-with-flags {
    height: 100px;
}

code {
    color: #E74C3E;
}

#badge-row {
    align-items: center;
}

#badge-row > div:nth-child(1) {
    text-align: right;
}

#badge-row > div:nth-child(1) {
    padding-right: 2px;
}

#badge-row > div:nth-child(2) {
    padding: 0 2px;
}

#bade-row > div:nth-child(3) {
    padding-left: 2px;
}

.badge {
    vertical-align: text-top;
}
