.navbar-brand {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 300;
    padding: 15px 15px;
}

.logo {
    height: 30px;
}

.table td {
    font-size: 14px;
    padding: 0.65rem 0.75rem;
}

textarea {
    resize: none;
}

#text-with-flags {
    height: 100px;
}

code {
    color: #E74C3E;
}
